<!doctype html>
<html>
  <head>
    <title>Posts Saver</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </head>
  <body>
      <div class="jumbotron text-center">
        <h1>Posts Saver</h1>
        <p>Save all posts in one file!</p>
      </div>
      <div class="container">
      	{% block content %}{% endblock %}
      </div>
      <div id="footer">
        <a href="https://bitbucket.org/V__v/postssaver"><h5>sources</h5></a>
      </div>
  </body>
</html>