{% extends "base_layout.html" %}
{% block content %}
    <h2 class="text-center"><small>Downloading...</small></h2>
    <div class="progress" id="progressouter">
  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%"
  		id="progress">
    		0%
  		</div>
	</div>
	<script>
		$(document).ready(function(){
			var progresspump = setInterval(function(){
				$.get("/download/progress", function(data){
					$("#progress").css('width', data + '%');
					$("#progress").html(data + '%');

					if(data > 99) {
						clearInterval(progresspump);
						$("#progressouter").removeClass("active");
						$("#progress").html("Done");
						document.location = "/uploads/{{socicalnet}}/{{usernick}}/{{datatype}}"
					}
				})
			}, 1000);
		});
	</script>
{% endblock %}