{% extends "base_layout.html" %}
{% block content %}
	<h2 class="text-center"><small>Select the social network</small></h2>
	<div class="row text-center">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-2">
			<div class="img-responsive">
				<a href="/user/twitter">				
					<img src="{{ url_for('static', filename='index_twitter.png') }}">
				</a>
			</div>
	  	</div>
	  	<div class="col-sm-2">
	  		<div class="img-responsive">
	  			<a>
		  			<img class="not_impl" src="{{ url_for('static', filename='index_vk.png') }}" data-toggle="tooltip" title="Will be added soon..." data-placement="bottom" data-trigger="hover click">
		  		</a>
		  	</div>
	  	</div>
	  	<div class="col-sm-4">
	  	</div>
  </div>
{% endblock %}