{% extends "base_layout.html" %}
{% block content %}
	<h2 class="text-center"><small>Enter user's nickname</small></h2>
	<form action="{{ url_for('user', socicalnet=socicalnet) }}" method="post">
		<div class="input-group">
		    <input type="text" class="form-control" autofocus="autofocus" name="usernick" placeholder="Search">
		    <div class="input-group-btn">
		    	<button class="btn btn-default" type="submit">
		    		<i class="glyphicon glyphicon-chevron-right"></i>
		    	</button>
		    </div>
		</div>
	</form> 
{% endblock %}